@keyframes flash {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

body.reset-effect {
  animation: flash 0.2s ease-in-out;
}
.reset-effect {
  background-color: white !important;
  transition: background-color 0.1s ease-in-out;
}
